@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scrollLine {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  
  .animate-scroll-line {
    animation: scrollLine 3s linear forwards;
  }
  